.tooltipz{
    opacity: 0;
    background-color: #58a6ff;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    padding: 0.3em;
    border-radius: 3px;
    position: fixed;
    transform: translate(-70%,-100%);
    transition: all ease-in 0.1s;
    cursor: text;
}

.hyperLinks:hover span {
    opacity: 1;
}