@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.hyperLinks{
  color: #58a6ff;
  text-decoration: none;

}
.hyperLinks:hover{
  color: #58a6ff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2rem;
  font-weight:bold;
}